@import "@scss/Variables.scss";

.contact-page {
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 40px;
  padding: 10px;
}

@media (max-width: $breakpoint-sm) {
  .contact-page {
    flex-direction: column;
  }
}