@import "@scss/Variables.scss";

.contact-info-form-container {
  box-sizing: border-box;
  height: 100%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

@media (max-width: $breakpoint-sm) {
  .contact-info-form-container {
    flex-direction: column;
  }
}