@import "@scss/Variables.scss";

$ig-small-screen: 768px !default;
$ig-xsmall-screen: 480px !default;
$ig-white: #fff !default;
$ig-black: #000 !default;
$ig-blue: #337ab7 !default;
$ig-background-black: rgba(0, 0, 0, 0.4) !default;
$ig-transparent: rgba(0, 0, 0, 0) !default;
$ig-shadow: 0 2px 2px lighten($ig-black, 10%);

@mixin vendor-prefix($name, $value) {
    @each $vendor in ("-webkit-", "-moz-", "-ms-", "-o-", "") {
        #{$vendor}#{$name}: #{$value};
    }
}

.app-react-image-gallery {
    margin: 0 auto 0 auto;
    position: relative;
}

@media(max-width: 300px) {
    .app-react-image-gallery {
        min-height: 250px;
        max-height: 250px;
    }

}

@media(min-width: 301px) and (max-width: $breakpoint-sm) {
    .app-react-image-gallery {
        min-height: 420px;
        max-height: 420px;
    }
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    .app-react-image-gallery {
        min-height: 530px;
        max-height: 530px;
    }
}

@media (min-width: $breakpoint-md) {
    .app-react-image-gallery {
        min-height: 610px;
        max-height: 610px;
        max-width: 900px;
    }
}

.image-gallery {
    @include vendor-prefix("user-select", none);
    -webkit-tap-highlight-color: $ig-transparent;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);

    &.fullscreen-modal {
        background: $ig-black;
        background-color: $ig-black;
        bottom: 0;
        height: 100%;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 5;
    }
}

.image-gallery-content {
    line-height: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &.fullscreen {
        background: $ig-black;
    }

    &.image-gallery-thumbnails-left,
    &.image-gallery-thumbnails-right {
        .image-gallery-slide .image-gallery-image {
            max-height: 100%;
            display: none;
        }
    }
}

.image-gallery-slide-wrapper {
    position: relative; // for arrows
    cursor: default;
    background-color: rgb(0, 0, 0);

    &.image-gallery-thumbnails-left,
    &.image-gallery-thumbnails-right {
        display: inline-block;
        width: calc(100% - 110px); // 100px + 10px for margin

        @media (max-width: $ig-small-screen) {
            width: calc(100% - 87px); // 81px + 6px for margin
        }
    }

    &.image-gallery-rtl {
        direction: rtl;
    }
}

.image-gallery-swipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.image-gallery-slides {
    position: relative;
    overflow: hidden;
    visibility: hidden;

    .image-gallery-center {
        visibility: visible;
    }
}

.image-gallery-image {
    background-color: black;
    width: 80%;
    cursor: default;
}

.image-gallery-slide {
    left: 0;
    position: absolute;
    height: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: default;
    background-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    max-height: 500px;

    &.image-gallery-left,
    &.image-gallery-right {
        display: none;
        position: absolute;
        z-index: -1;
    }

    &.image-gallery-center {
        position: relative;
    }

    .image-gallery-description {
        background: $ig-background-black;
        bottom: 70px;
        color: $ig-white;
        left: 0;
        line-height: 1;
        padding: 10px 20px;
        position: absolute;
        white-space: normal;

        @media (max-width: $ig-small-screen) {
            bottom: 45px;
            font-size: 0.8em;
            padding: 8px 15px;
        }
    }
}

.image-gallery-thumbnails-wrapper {
    height: 20%;
    width: 80%;
    display: flex;
    align-items: center;

    &.thumbnails-swipe-horizontal {
        touch-action: pan-y;
    }

    &.thumbnails-swipe-vertical {
        touch-action: pan-x;
    }

    &.thumbnails-wrapper-rtl {
        direction: rtl;
    }

    &.image-gallery-thumbnails-left,
    &.image-gallery-thumbnails-right {
        display: inline-block;
        vertical-align: top;
        width: 100px;

        @media (max-width: $ig-small-screen) {
            width: 81px; // 75px + 6px for border
        }

        .image-gallery-thumbnails {
            height: 100%;
            width: 100%;
            left: 0;
            padding: 0;
            position: absolute;
            top: 0;

            .image-gallery-thumbnail {
                display: block;
                margin-right: 0;
                padding: 0;

                +.image-gallery-thumbnail {
                    margin-left: 0;
                    margin-top: 2px;
                }
            }
        }
    }

    &.image-gallery-thumbnails-left,
    &.image-gallery-thumbnails-right {
        margin: 0 5px;

        @media (max-width: $ig-small-screen) {
            margin: 0 3px;
        }
    }
}

.image-gallery-thumbnails-container {
    width: 80%;
}

.image-gallery-thumbnails {
    overflow: auto;
    padding: 5px 0;
    width: 100%;

    @media (max-width: $ig-small-screen) {
        padding: 3px 0;
    }

    .image-gallery-thumbnails-container {
        text-align: center;
        white-space: nowrap;
        height: 100%;
        width: 100%;

        button {
            height: 63px;
        }
    }
}

.image-gallery-thumbnail {
    display: inline-block;
    border: 4px solid transparent;
    transition: border 0.3s ease-out;
    width: 100px;
    background: transparent;
    padding: 0;

    @media (max-width: $ig-small-screen) {
        border: 3px solid transparent;
        width: 81px;
    }

    +.image-gallery-thumbnail {
        margin-left: 2px;
    }

    .image-gallery-thumbnail-inner {
        display: block;
        position: relative;
        height: 100%;
    }

    .image-gallery-thumbnail-image {
        vertical-align: middle;
        width: 100%;
        height: 100%;
        line-height: 0;
        object-fit: cover;
    }

    &.active,
    &:focus {
        outline: none;
        border: 4px solid $ig-blue;

        @media (max-width: $ig-small-screen) {
            border: 3px solid $ig-blue;
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            outline: none;
            border: 4px solid $ig-blue;

            @media (max-width: $ig-small-screen) {
                border: 3px solid $ig-blue;
            }
        }
    }
}

.image-gallery-thumbnail-label {
    box-sizing: border-box;
    color: white;
    font-size: 1em;
    left: 0;
    line-height: 1em;
    padding: 5%;
    position: absolute;
    top: 50%;
    text-shadow: $ig-shadow;
    transform: translateY(-50%);
    white-space: normal;
    width: 100%;

    @media (max-width: $ig-small-screen) {
        font-size: 0.8em;
        line-height: 0.8em;
    }
}

.app-header {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.play-button {
    cursor: pointer;
    position: absolute;
    border: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 60px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
}

.play-button:hover {
    background-color: rgba(0, 0, 0);
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 16.5px;
    left: 40px;
    margin: 0 auto;
    border-style: solid;
    border-width: 12.5px 0 12.5px 20px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.video-wrapper {
    position: relative;
    padding: 33.35% 0;
    /* 16:9 */
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.app .image-gallery {
    margin: 0 auto;
}

.app-buttons li {
    display: block;
}

@media (max-width: 768px) {
    .app-header {
        font-size: 20px;
    }

    .app-buttons li {
        display: block;
        margin: 10px 0;
    }

    .app-buttons li+li {
        padding: 0;
    }

    .play-button {
        height: 40px;
        width: 65px;
    }

    .play-button:after {
        top: 11px;
        left: 27px;
        border-width: 8.5px 0 8.5px 12px;
    }

    .close-video::before {
        font-size: 16px;
        padding: 15px;
    }
}

@media (max-width: 1024px) {
    .app .image-gallery {
        width: 100%;
    }
}

.app-interval-input-group {
    display: table;
}

.app-interval-label {
    display: table-cell;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 3px solid #ccc;
    border-right: none;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.app-interval-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: table-cell;
    margin: 0;
    padding: 9px;
    border-radius: 5px;
    font-size: 14px;
    border: 3px solid #ccc;
    background: #fff;
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input.app-interval-input {
    width: 65px;
}

.app-checkboxes {
    margin-top: 10px;
}

.app-checkboxes li {
    display: block;
}

/* svg icon styles */
.image-gallery-icon {
    color: $ig-white;
    transition: all 0.3s ease-out;
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 1;
    filter: drop-shadow($ig-shadow);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: $ig-blue;

            .image-gallery-svg {
                transform: scale(1.1);
            }
        }
    }

    &:focus {
        outline: 2px solid $ig-blue;
    }
}

.image-gallery-using-mouse {
    .image-gallery-icon {
        &:focus {
            outline: none;
        }
    }
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
    bottom: 0;
    padding: 20px;

    .image-gallery-svg {
        height: 28px;
        width: 28px;
    }

    @media (max-width: $ig-small-screen) {
        padding: 15px;

        .image-gallery-svg {
            height: 24px;
            width: 24px;
        }
    }

    @media (max-width: $ig-xsmall-screen) {
        padding: 10px;

        .image-gallery-svg {
            height: 16px;
            width: 16px;
        }
    }
}

.image-gallery-fullscreen-button {
    right: 0;
}

.image-gallery-play-button {
    left: 0;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
    padding: 50px 10px;
    top: 50%;
    transform: translateY(-50%);

    .image-gallery-svg {
        height: 120px;
        width: 60px;
    }

    @media (max-width: $ig-small-screen) {
        .image-gallery-svg {
            height: 72px;
            width: 36px;
        }
    }

    @media (max-width: $ig-xsmall-screen) {
        .image-gallery-svg {
            height: 48px;
            width: 24px;
        }
    }

    &[disabled] {
        cursor: disabled;
        opacity: 0.6;
        pointer-events: none;
    }
}

.image-gallery-left-nav {
    left: 0;
}

.image-gallery-right-nav {
    right: 0;
}