@import "@scss/Variables.scss";

.home-page-div {
  width: 100%;
  max-width: 1200px;
}

.comp-info {
  margin: 50px 0 0 0;
  padding: 0 10px;
  text-align: center;
}

.clients {
  margin: 50px 0 0 0;
}

/* device size med and greater*/
@media(min-width: $breakpoint-md) {
  .comp-info {
    display: flex;
    flex-direction: row-reverse;
  }

  .statement {
    width: 50%;
    margin: 30px 0;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: -0.5px;
    padding: 0 70px;
  }

  .serv {
    width: 50%;
    padding: 0 50px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;

    &-title {
      font-size: 1.2em;
      font-weight: 400;
      letter-spacing: -1px;
    }

    &-list {
      font-size: 1em;
      font-weight: 200;
    }
  }
}

.statement {
  color: rgba(142, 142, 142, 0.737);
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: -1.5px;
  padding: 0 25px;
  text-align: center;
}

.serv {
  padding: 0 25px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-title {
    color: rgba(84, 84, 84, 0.737);
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: .5px;
  }

  &-list {
    color: rgba(84, 84, 84, 0.737);
    font-size: 1em;
    font-weight: 200;
    letter-spacing: -.5px;
  }
}

.highlight {
  color: rgba(0, 128, 128, 0.613);
  font-weight: 600;
}