$homepage-img-gradient: rgba(255, 255, 255, 0.67);

.home-page-container {
  height: 85%;
  width: 100%;
}

.img-bullets-container {
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  .home-page-container {
    display: flex;
    flex-direction: row;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1300px;
  }

  .message-div {
    width: 50%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bullets-div {
    width: 50%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.img-gradient-div {
  width: 100%;
  position: relative;
}

div.gradient {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right,
      transparent,
      $homepage-img-gradient );
  position: absolute;
  width: 100%;
  height: 100%;
}

img.img-main {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.sub-text {
  display: flex;
  justify-content: center;
  width: 100%;
}