@import "@scss/Variables.scss";

/* screen sizes zero to md */
@media (max-width: $breakpoint-md) {
  .hero-div {
    height: 240px;
    position: relative;
    display: flex;
  }

  .trapezoid-div {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 65%);
    background-color: rgb(21, 33, 67);
  }

  .left-right-div {
    width: 100%;
    display: flex;
  }

  .left-div {
    width: 50%;
  }

  .heading-div {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -.6px;
    margin: 20px 4px 0 4px;
  }

  .right-div {
    width: 50%;
  }

  .trapezoid-img-div {
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 55%, 0% 90%);
    display: flex;
    justify-content: center;
  }

  .bullets-div {
    width: 50%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.img-gradient-div {
  width: 100%;
  position: relative;
}

div.gradient {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right,
      transparent,
      $homepage-img-gradient );
  position: absolute;
  width: 100%;
  height: 100%;
}

img.img-main {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.sub-text {
  display: flex;
  justify-content: center;
  width: 100%;
}