.social-links-container {
  margin: 40px 0 0 0;
  height: 30px;

  display: flex;
  justify-content: center;

  svg {
    margin: 0 20px 0 0;
    fill: rgb(85, 85, 85);
    height: 100%;

    &:last-child {
      margin: 0;
    }
  }
}