@import "@scss/Variables.scss";

.contact-info {
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    max-width: 500px;
}

div.contact-info {
    background-color: #d9dcd6;
    text-align: center;
    width: 50%;
}

@media (max-width: $breakpoint-md) {
    div.contact-info {
        width: 90%;
    }
}