@import "@scss/Variables.scss";

form {
    padding: 15px 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    width: 50%;
}

$placeholder-color: rgb(198, 198, 198);
$placeholder-font-weight: 300;
$placeholder-letter-spacing: -.3px;
$form-border-color: rgb(198, 198, 198);
$form-border-radius: 15px;

form label {
    color: teal;
    padding: 0 0 0 10px;
    font-weight: 300;
    letter-spacing: -.5px;
}

form input {
    color: rgb(143, 143, 143);
    border-radius: $form-border-radius;
    border-style: solid;
    border-color: $form-border-color;
    padding: 5px 0 5px 10px;
    font-weight: 600;

    &::placeholder {
        color: $placeholder-color;
        font-weight: $placeholder-font-weight;
        letter-spacing: $placeholder-letter-spacing
    }
}

.message1 {
    color: teal;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -.9px;
}

.message2 {
    color: rgba(112, 112, 112, 0.849);
    font-size: 1em;
    font-weight: 300;
    letter-spacing: -.7px;
}

.names {
    padding: 0 0 0 0;

    .fname {
        min-width: 220px;
    }

    .lname {
        min-width: 220px;
        margin: 0 0 0 20px;
    }
}

.email-message {
    text-align: center;
    color: rgb(188, 188, 188);
    font-weight: 300;
    letter-spacing: -.7px;
    font-size: .9em;
}

.submit-btn {
    color: white;
    padding: 8px 0 8px 0;
    border-radius: $form-border-radius;
    background-color: rgb(22, 181, 181);
    border-style: none;
    font-weight: 600;
    letter-spacing: 1px;

    &:hover {
        background-color: white;
        color: rgb(22, 181, 181);
        border-style: solid;
        border-color: rgb(162, 162, 162);
    }
}

.message-count {
    margin: 10px 0 0 0;
    color: rgb(185, 184, 184);
    text-align: right;
    font-weight: 300;
    letter-spacing: -.8px;
}

.message-textarea {
    border-color: $form-border-color;
    border-width: 2px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    min-height: 100px;
    max-height: 350px;

    &::placeholder {
        color: $placeholder-color;
        font-weight: $placeholder-font-weight;
        letter-spacing: $placeholder-letter-spacing
    }
}


/* error handling */
$red-error-color: rgb(255, 0, 0);

.invalid-form-message {
    color: $red-error-color;
}

.warn-error {
    border-style: solid;
    border-color: $red-error-color;
}