.map-container {
  color: rgb(85, 85, 85);
  margin: 70px 0 0 0;
}

.map-icon-title {
  text-align: center;
  height: 30px;
}

.map-icon-svg {
  fill: rgb(216, 216, 216);
  height: 100%;
}

.map-icon-text {
  margin: 0 0 0 30px;
}