.info-email-container {
  margin: 10px 0 0 0;
  color: rgb(85, 85, 85);
  height: 30px;
  display: flex;
  align-items: center;
}

.info-email-svg {
  fill: rgb(85, 85, 85);
  height: 100%;
}

.info-email {
  text-align: center;
  width: 100%;
}