.map-container {
  color: rgb(85, 85, 85);
}

.map-icon-title {
  text-align: center;
  height: 30px;

}

.map-icon-svg {
  fill: rgb(85, 85, 85);
  height: 100%;
}

.map-icon-text {
  margin: 0 0 0 30px;
}