@import "@scss/Variables.scss";

.contact-info {
    margin: 0 auto 0 auto;
}

@media (min-width: $breakpoint-md) {
    .contact-info {
        width: 40%;
    }
}

@media (max-width: $breakpoint-md) {
    .contact-info {
        width: 100%;
    }
}

.div-box-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.span-box {
    min-width: 260px;
}