.nav-bar-container {
  height: 90px;
  top: 0;
  z-index: 1;
  position: relative;
}

.company-name {
  color: rgb(101, 101, 101);
  margin: 0 0 0 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: -1px;
}

@media(min-width: 620px) {
  .nav-bar-container {
    display: flex;
    justify-content: space-between;
  }
}

@media(max-width: 619px) {
  .nav-bar-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}