.nav-bar-container {
  display: flex;
  height: 115px;
  top: 0;
  z-index: 1;
  position: relative;
}

.nav-logo {
  height: 90%;
}

@media(min-width: 620px) {
  .nav-bar-container {
    display: flex;
    justify-content: center;
  }
}