@import "@scss/Variables.scss";

$default-teal: teal;
$default-error-red: rgb(212, 5, 5);
$default-light-gray: rgb(218, 214, 214);
$default-white: rgb(255, 255, 255);
$default-black: rgb(0, 0, 0);
$default-linear-gradient: rgba(255, 255, 255, 0.67);
$default-whitesmoke: whitesmoke;

// toggle visiblity of nav links
// NOTE - changes here will require updates in HamburgerMenu.scss -> .hamburger-menu-container, .visible
@media (max-width: $breakpoint-md) {
  .nav-page-links-container {
    display: none;
    width: 100%
  }
}

@media (min-width: calc(#{$breakpoint-md} + 1px)) {
  .nav-page-links-container {
    display: flex;
    align-items: center;
    width: 100%
  }
}

.btn-link {
  color: rgb(101, 101, 101);
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  width: 130px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: -1px;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;

}

.btn-link:disabled {
  pointer-events: none;
}

.btn-link,
.btn-link-contact {
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
}

.btn-link:hover {
  color: rgb(101, 101, 101);
  border: 1px solid $default-teal;
}

.btn-link:active,
.btn-link-contact:active {
  box-shadow: none;
  transform: translateY(0);
}

.separator {
  color: rgba(165, 165, 165, 0.507);
}