@import "@scss/fonts/inter.scss";

$app-font-family: 'Inter', sans-serif, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue";
$app-font-size: 16px;

:root {
    --bs-body-font-family: #{$app-font-family};
    --bs-body-font-size: #{$app-font-size};
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: "InterVariable", sans-serif;
        font-optical-sizing: auto;
    }
}

html,
body {
    min-width: 300px;
    width: 100%;
}