/* breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

/* font */
$app-font-family: sans-serif, ui-sans-serif, Arial, Helvetica, system-ui, Helvetica;
$app-font-size: 16px;